body{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    /*overflow-y: hidden;*/
}

#container{
    background-color:#B9D19B;
}

.flexContainer{
    display:flex; 
    flex-direction: row;
}
#leftContainer{
  
    width: 975px; 
    height: 775px; 
   
}

#firstRow{
    display:flex; 
    flex-direction: row;

    align-items: left;
    
    /*
    text-align: center; 
    display: flex; 
    justify-content: center; */
   
  
}

ul {
    list-style-type: none;
    margin-left:20px; 
    margin-top:10px; 
   
  }

#selfStream{
    width: 500px; 
    height:400px;
    margin: 0 auto;
    margin-top: 30px;
    border: 3px solid #CE796B;
    border-radius: 10px;
 
}

.remoteStream{
    display:inline-block;
    text-align: left;
    justify-self: center;
    width: 300px; 
    height: 275px;
    margin-left:10px;
    margin-right:10px;
    margin-top: 30px; 

    
    /*border: 3px solid #CE796B;
    border-radius: 10px;*/
   
}
#rightContainer{
   
    width: 465px; 
    height: 775px;
    display:flex; 
    flex-direction: column; 
}

#controls{
  margin-top: 11px; 
  width: 450px; 
  height: 75px; 
  background-color: #f4f3ee;
  margin-left: auto;
  margin-right: auto;
  justify-self: end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  border: 3px solid #CE796B;
 
}

#participants{
    width: 450px; 
    height: 130px; 
   
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 3px solid #CE796B;
    background-color: #f4f3ee; 
    margin-top: 10px;
}
#notes{
    width: 450px;
    height: 470px; 
    max-height: 470px;
    background-color: #f4f3ee;
   
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 3px solid #CE796B;
    overflow: auto;

    margin-top: 10px;
    
}

.icon{
    width: 40px;
    height: 40px; 
    cursor: pointer;
}

.submitButton{
    background-color: #CD1E1E;
    width: 75px; 
    height: 30px; 
    color: white;
    border: none;
    font-size: 1.1rem; 
    border-radius: 5px;
   
}


#image{
    width:15px; 
    height: 15px; 
}
#logo{
   
    font-size: 1rem;
    margin-left: auto; 
    margin-right: 10px; 
    margin-top: 15px; 
    
   
   
}